@media {max-width: 600px} {
    body (font-size: 14px;)
}

@media {max-width: 600px} {
    body (font-size: 14px;)
}
body {font-size: ;}

body {font-family: Verdana, Geneva, Tahoma, sans-serif:}

h1,h2   { color: blue}

h1 {font-size: 150%;}

h2 {font-size: 130%;}


#guarantee {
    border-color: black;
    border-width: 1px;
    border-style: solid;
    background-color: beige;
    padding: 25px;
    margin: 30px;
    margin-left: 80px;
    margin-right: 250px;
    background-image: url(images/background.gif);
    background-repeat: no-repeat;
    background-position: top-left;
    border-style: dashed;
    border-color: white;

}